<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-head-common('CodeInitializr | Administrator')"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
</head>

<body>
    <header th:replace="fragments/logged_fragments :: logged-header"></header>
    <div class="page-content py-5">
        <section class="options-section">
            <div class="container">
                <div class="row">
                    <div class="col-8 text-capitalize">
                        <h4>
                            <strong>
                                <i class="fas fa-list"></i> 
                                <span class="text-uppercase text-danger" th:text="${subTopicData.currentObject == null ? 'TOPICS HOME' : subTopicData.currentObject.name}"></span>
                            </strong>
                        </h4>
                        <small>
                            <a th:href="@{/admin}"><i class="fas fa-home"></i> Home</a>
                            /
                            <a th:href="@{/admin/topic}">Topics</a>
                            <span th:if="${not #lists.isEmpty(subTopicData.breadcrumbList)}">
                                <span th:each="breadcrumb : ${subTopicData.breadcrumbList}"> / <a  th:href="@{/admin/topic/__${breadcrumb.slug}__}" th:text="${breadcrumb.title}"></a></span>
                            </span>
                            <span th:if="${subTopicData.currentObject != null}"> / <a   th:text="${subTopicData.currentObject.name}"></a></span>
                        </small>
                    </div>
                    <div class="col-4">
                        <button data-target="#modal-create-topic" data-toggle="modal" data-button-type="CREATE TOPIC" class="btn btn-danger w-100"><i class="fas fa-plus"></i> Create New Topic</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 mb-5 mt-5" th:if="${#lists.isEmpty(subTopicData.objectList)}">
                        <h1 class="text-danger text-center">
                            OOPS!
                        </h1>
                        <h5 class="text-center">
                            NO SUB TOPIC FOUND
                        </h5>
                    </div>
                    <div class="col-12 col-lg-12 mb-5" th:if="${not #lists.isEmpty(subTopicData.objectList)}">
                        <div class="table-responsive my-4">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr th:each="topic, iterator : ${subTopicData.objectList}">
                                        <th class="theme-bg-light" th:text="${'TOPIC '+iterator.count}" width="10%"></th>
                                        <td width="70%">
                                            <a th:href="@{/admin/topic/__${topic.slug}__}"><span class="text-uppercase" th:text="${topic.name}"></span></a><br>
                                            <small class="text-capitalize" th:text="${topic.description}"></small>
                                        </td>
                                        <th class="theme-bg-light" width="20%">
                                            <a class="theme-link" href="#modal-create-topic" data-toggle="modal" th:attr="data-topic-id=${topic.topicId},data-name=${topic.name},data-description=${topic.description},data-visible-to=${topic.visibleTo},data-parent-topic-id=${topic.parentTopic==null?null:topic.parentTopic.topicId},data-display-order=${topic.displayOrder}"
                                                data-button-type="UPDATE TOPIC">VIEW/EDIT</a><br>
                                            <a class="theme-link delete-topic" href="#" th:attr="data-topic-id=${topic.topicId}">DELETE</a><br>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modal-create-topic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create a new Topic</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <form id="form-create-topic" th:action="@{/admin/create-topic}" method="POST">
                                    <div>
                                        <input type="hidden" name="topicId">
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Topic Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="name" placeholder="Please enter topic name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-4 col-form-label">Description</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" name="description" placeholder="Description of the topic"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">Parent Topic</div>
                                        <div class="col-sm-8">
                                            <select name="parentTopic" class="custom-select mr-sm-2">
                                                <option value="">----Select parent topic----</option>
                                                <option th:each="topic, iterator : ${allActiveTopicList.objectList}" th:value="${topic.topicId}" th:text="${topic.name}" class="text-uppercase"></option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">Visible To</div>
                                        <div class="col-sm-8">
                                            <select name="visibleTo" class="custom-select mr-sm-2">
                                                <option value="Admin">Admin</option>
                                                <option value="Contributor">Contributor</option>
                                                <option value="Public">Public</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Display Order</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="displayOrder" class="form-control" placeholder="Please enter display order">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="$('#form-create-topic').submit()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer th:replace="fragments/logged_fragments :: logged-footer"></footer>
    <!-- LOGGED JS -->
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- ADMIN CUSTOM JS -->
    <script th:replace="fragments/admin_fragments :: admin-custom-js"></script>

    <script>
        // ON MODAL SHOW
        $(document).on("show.bs.modal", "#modal-create-topic", function(e) {
            if (e.relatedTarget.dataset.buttonType === "UPDATE TOPIC") {
                $('#modal-create-topic').contents().find(".modal-title").html("UPDATE TOPIC (<span class='text-success'>" + e.relatedTarget.dataset.name.toUpperCase() + "</span>)");

                $('#form-create-topic').contents().find("[name='topicId']").val(e.relatedTarget.dataset.topicId);
                $('#form-create-topic').contents().find("[name='name']").val(e.relatedTarget.dataset.name);
                $('#form-create-topic').contents().find("[name='description']").val(e.relatedTarget.dataset.description);
                $('#form-create-topic').contents().find("[name='parentTopic']").val(e.relatedTarget.dataset.parentTopicId);
                $('#form-create-topic').contents().find("[name='visibleTo']").val(e.relatedTarget.dataset.visibleTo);
                $('#form-create-topic').contents().find("[name='displayOrder']").val(e.relatedTarget.dataset.displayOrder);
            } else {
                $('#modal-create-topic').contents().find(".modal-title").html("CREATE A NEW TOPIC");

                $('#form-create-topic').contents().find("[name='topicId']").val("");
                $('#form-create-topic').trigger('reset');
            }
        });
    </script>
    <script>
        // ON TOPIC FORM SUBMIT
        $(document).on('submit', '#form-create-topic', function(e) {
            e.preventDefault();
            let form = $(this);
            var ajax_return;
            $.confirm({
                title: 'Warning!',
                content: "Are you sure you want to submit the form.",
                type: 'blue',
                typeAnimated: true,
                buttons: {
                    confirm: function() {
                        $.confirm({
                            content: function() {
                                var self = this;
                                return ajax_return = $.ajax({
                                    type: form.attr('method'),
                                    url: form.attr('action'),
                                    data: form.serialize()
                                }).done(function(response) {
                                    self.setTitle("Success!");
                                    self.setType("green");
                                    self.setContent(response.message);
                                }).fail(function(e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e.responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function(key, value) {
                                            form.contents().find("[name='" + key + "']").after('<span class="error">' + value + '</span>');
                                        });

                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("VALIDATION ERROR");
                                    } else {
                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("ERROR");
                                    }
                                })
                                return true;
                            },
                            buttons: {
                                ok: function() {
                                    ajax_return.done(function(message) {
                                        window.location.reload();
                                    })
                                }
                            }
                        });
                    },
                    cancel: function() {}
                }
            });
        });

        // ON TOPIC DELETE
        $(document).on('click', '.delete-topic', function(e) {
            e.preventDefault();
            var ajax_return;
            let topicId = e.target.dataset.topicId;
            $.confirm({
                title: 'Warning!',
                content: "Are you sure you want to delete the topic.",
                type: 'red',
                typeAnimated: true,
                buttons: {
                    confirm: function() {
                        $.confirm({
                            content: function() {
                                var self = this;
                                return ajax_return = $.ajax({
                                    type: "PUT",
                                    url: contextPath + "admin/delete-topic",
                                    data: {
                                        "topicId": topicId
                                    },
                                }).done(function(response) {
                                    self.setTitle("Success!");
                                    self.setType("green");
                                    self.setContent(response.message);
                                }).fail(function(e) {
                                    self.setTitle(e.responseJSON.httpStatus);
                                    self.setType("red");
                                    self.setContent("ERROR");
                                })
                                return true;
                            },
                            buttons: {
                                ok: function() {
                                    ajax_return.done(function(message) {
                                        window.location.reload();
                                    })
                                }
                            }
                        });
                    },
                    cancel: function() {}
                }
            });
        });
    </script>
</body>

</html>